.Opport-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    border-radius: 5px;
}

.Opport-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

.OpportName,
.Description,
.TrainingTasks,
.Loaction,
.vacancies,
.StartDate,
.FinishDate,
.ContactPerson,
.Position,
.Gender {
    margin: auto;
    width: 200px;
    height: 25px;
    text-align: right;
    margin-right: 30px;
    font-size: 20px;
}

.OpportName::placeholder,
.Description::placeholder,
.TrainingTasks::placeholder,
.Loaction::placeholder,
.vacancies::placeholder,
.ContactPerson::placeholder,
.Position::placeholder,
.Gender::placeholder {
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: right;
    color: rgb(77, 70, 67);
    opacity: 0.3;
    width: 200px;
    
}

.label-OpportName,
.label-Description,
.label-TrainingTasks,
.label-Loaction,
.label-vacancies,
.label-StartDate,
.label-FinishDate,
.label-ContactPerson,
.label-Position,
.label-Gender{
    margin: auto;
    width: max-content;
    text-align: right;
    margin-top: 20px;
    margin-right: 30px;
    width: 400px;
}

.Description,
.TrainingTasks{
    width: 350px;
    height: 100px;
}

.Loaction,
.vacancies,
.ContactPerson {
    width: 250px;
}

.Description::placeholder,
.TrainingTasks::placeholder {
    padding-left: 28%;
    width: 250px;
}

.Loaction::placeholder,
.vacancies::placeholder, 
.ContactPerson::placeholder  {
    width: 250px;
}

.StartDate,
.FinishDate {
    margin: auto 0px auto 200px;
    margin-right: 30px;
   
}