.main-div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: fit-content;
    margin-bottom: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.guide-box{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 400px;
    width: 300px;
    background-color: rgb(58, 52, 50);
    opacity: 0.9;
    justify-content:top;
    align-items:flex-end;
    padding-top: 50px; 
    border-radius: 40px;

}

.guide-button{
    border: none;
    width: fit-content;
    margin-top: 20px;
    background-color: rgb(58, 52, 50);
    color: white;
}
.guide-button:hover{
    opacity: 0.6;
}