button{
    border-style: solid;
  }
.youTube_button{
  background-color: red;
  color: rgb(255, 255, 255);
  border-color: red;
  border-radius: 4px; 
  padding-left: 2pt;
  padding-top: 0pt;
  padding-bottom: 1pt;
  padding-right: 2pt;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 13px;
  transition: opacity 0.5S,background-color 0.5S;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.youTube_button:hover{
  opacity: 0.6;
}
.youTube_button:active{
  background-color: rgb(255, 255, 255); 
  color: red;
}
p{
  font-family: 'Times New Roman';  
}
.paragraph_heading{
  font-size: 24px;
  font-weight: bold;
  text-align: center; 
}
.paragraph_style{
  display: inline-block;
  font-size: 18px;
  width: 170px;
  text-align: center;
  color: rgb(114, 24, 24);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  line-height: 40px;
  background-color: rgb(252, 77, 228);
  color: rgb(255, 255, 255); 
}
.paragraph_span{
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: underline;
  cursor: pointer;
}
.div_1{
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 4px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.div_style{
    border-style: solid;
    border-color: red;
    border-radius: 1px;
}
.grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    border-color: rgb(89, 0, 255);
    border-radius: 1px;
}
.flex{
display: flex;
flex-direction: row;
justify-content: space-between;
height: 30px;
}
.lift_flex{
    background-color: aquamarine;
    width:20%;
    display: flex;
    align-items: center;
}
.mid_flex{  
    flex: 1;
    max-width: 70%;
    display: flex;
}
.search_bar{
    margin: 3px;
    flex: 1;
    font-size: 12px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;

}
.search_bar::placeholder{
   font-size: 12px;
}
.right_flex{
    background-color: aquamarine;
    width: 100px;   
}
.youtube_0{
display: inline-block;
margin-top: 20px;
}

