<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/TaibahTraining/form5.css">

<style>
    @page {
      background-image:"http://127.0.0.1:8000/static/TaibahTraining/form5_page-0001.jpg";
      
    }
    @page pg1{
       
      background-image:"http://127.0.0.1:8000/static/TaibahTraining/form5_page-0002.jpg";
    }
    @page pg2{
       
        background-image:"http://127.0.0.1:8000/static/TaibahTraining/form5_page-0003.jpg";
      }
</style>
  </head>
  <body>
    <div class="container" >
      <p class="p-Fullname">
        {{studentinfoUser.Fullname}}
      </p>
      <p class="p-Uni_id">
        {{studentinfo.Uni_id}}
      </p>
      <p class="p-Fullname-2">
        {{OpportinfoUser.Fullname}}
      </p>
      <p class="p-Description">
        {{Opport.Description}}
      </p>
      <p class="p-AttendanceAccuracy">
        {{form5info.AttendanceAccuracy}}
      </p>
      <p class="p-GeneralAppearance">
        {{form5info.GeneralAppearance}}
      </p>
      <p class="p-Enthusiasm">
        {{form5info.Enthusiasm}}
      </p>
      <p class="p-AbilityToAnalyze">
        {{form5info.AbilityToAnalyze}}
      </p>
      <p class="p-AccuracyOutput">
        {{form5info.AccuracyOutput}}
      </p>
      <p class="p-AbilityPresent">
        {{form5info.AbilityPresent}}
      </p>
      <p class="p-AbilityReport">
        {{form5info.AbilityReport}}
      </p>
   
  </div>
  <pdf:nextpage name="pg1" />
  <div class="container"id="page2">
    <p class="p-RelationshipTrainer">
      {{form5info.RelationshipTrainer}}
    </p>
    <p class="p-RelationshipCoWorkers">
      {{form5info.RelationshipCoWorkers}}
    </p>
    <p class="p-Flexibility">
      {{form5info.Flexibility}}
    </p>
    <p class="p-AbilityLearn">
      {{form5info.AbilityLearn}}
    </p>
    <p class="p-AbilityDecision">
      {{form5info.AbilityDecision}}
    </p>
    <p class="p-GeneralPerformance">
      {{form5info.GeneralPerformance}}
    </p>
    <p class="p-Strengths">
      {{form5info.Strengths}}
    </p>
    <p class="p-Weaknesses">
      {{form5info.Weaknesses}}
    </p>
    <p class="p-AreTraineeSkills">
      {{form5info.AreTraineeSkills}}
    </p>
  </div>
  <pdf:nextpage name="pg2" />
  <div class="container"id="page3">
    <p class="p-Comments">
      {{form5info.Comments}}
    </p>
    <p class="p-Contact_Person">
      {{Opport.Contact_Person}}
    </p>
    <p class="p-Position">
      {{Opport.Position}}
    </p>
  </div>
  </body>
</html>