<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/TaibahTraining/form3.css">

<style>
    @page {
      background-image:"http://127.0.0.1:8000/static/TaibahTraining/form3_page-0001.jpg";
      
    }
</style>
  </head>
  <body>
    <div class="container" >
      <p class="p-Fullname">
        {{studentinfoUser.Fullname}}
      </p>
      <p class="p-Uni_id">
        {{studentinfo.Uni_id}}
      </p>
  </div>
  </body>
</html>