<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/TaibahTraining/form1.css">

<style>
    @page {
      background-image:"http://127.0.0.1:8000/static/TaibahTraining/form1_page-0001.jpg";
      
    }
    @page pg1{
       
      background-image:"http://127.0.0.1:8000/static/TaibahTraining/form1_page-0002.jpg";
    }
</style>
  </head>
  <body>
    <div class="container" >
    <p class="p-Fullname">
      : {{OpportinfoUser.Fullname}}
    </p>
    <p class="p-Fullname-2">
       {{OpportinfoUser.Fullname}}
    </p>
    <p class="p-Contact_Person">
       {{Opport.Contact_Person}}
    </p>
    <p class="p-Contact_Person">
      {{Opport.Position}}
   </p>
   <p class="p-Contact_Person">
    {{OpportinfoUser.Phone_num}}
    </p>
    <p class="p-Contact_Person">
      {{OpportinfoUser.Email}}
    </p>
    <p class="p-Contact_Person">
      There is no fax
    </p>
    <p class="p-Contact_Person">
      {{Opportinfo.Address}}
    </p>
    <p class="p-2-Training-no">
      {{Opport.vacancies}}
    </p>
    <p class="p-2-Training-tname">
      {{Opport.Contact_Person}}
    </p>
    <p class="p-2-Training-tfield">
      {{studentinfo.College}}
    </p>
    <p class="p-2-Training-tplace">
      {{Opport.Loaction}}
    </p>
   
  </div>
  <pdf:nextpage name="pg1" />
  <div class="container"id="page2">
    <p class="p-Monthly-Allowance">
    No monthly allowance
    </p>
    <p class="p-Other">
      No other features
      </p>
  </div>
  </body>
</html>
