<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/TaibahTraining/form7.css">

<style>
    @page {
      background-image:"http://127.0.0.1:8000/static/TaibahTraining/form7_page-0001.jpg";
      
    }
</style>
  </head>
  <body>
    <div class="container" >
      <p class="p-StartDate">
        {{Opport.StartDate}}
      </p>
      <p class="p-FinishDate">
        {{Opport.FinishDate}}
      </p>
      <p class="p-Loaction">
        {{Opport.Loaction}}
      </p>
      <p class="p-Fullname">
        {{OpportinfoUser.Fullname}}
      </p>
      <p class="p-Contact_Person">
        {{Opport.Contact_Person}}
      </p>
      <p class="p-Position">
        {{Opport.Position}}
      </p>
      <p class="p-SeriousTraining">
        {{form7info.SeriousTraining}}
      </p>
      <p class="p-ExperienceProvided">
        {{form7info.ExperienceProvided}}
      </p>
      <p class="p-SuitableTrainingPlace">
        {{form7info.SuitableTrainingPlace}}
      </p>
      <p class="p-SeriousTrainer">
        {{form7info.SeriousTrainer}}
      </p>
      <p class="p-TimeGivenTraining">
        {{form7info.TimeGivenTraining}}
      </p>
      <p class="p-ExperienceTrainer">
        {{form7info.ExperienceTrainer}}
      </p>
      <p class="p-HelpWorkingStaff">
        {{form7info.HelpWorkingStaff}}
      </p>
      <p class="p-FollowingPlan">
        {{form7info.FollowingPlan}}
      </p>
      <p class="p-AdvantagesProgram">
        {{form7info.AdvantagesProgram}}
      </p>
      <p class="p-TheCompatibility">
        {{form7info.TheCompatibility}}
      </p>
      <p class="p-benefits">
        {{form7info.benefits}}
      </p>
      <p class="p-problems">
        {{form7info.problems}}
      </p>
      <p class="p-expectations">
        {{form7info.expectations}}
      </p>
      <p class="p-suggestions">
        {{form7info.suggestions}}
      </p>
      <p class="p-recommend">
        {{form7info.recommend}}
      </p>
  </div>
  </body>
</html>