.header {
    display: flex;
    position: fixed;
    height: 50px;
    background-color: white;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
}

.header-lift {
    flex: 0.15;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 4%;
}

.header-lift div {
    padding-right: 10%;
    min-width: 25px;
}

.header-mid {
    flex: 0.70;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mid div {
    padding-right: 8%;
    min-width: 25px;
}

.login-button,
.register-button {
    border: 1.5px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: max-content;
    background-color: white;
    padding: 4px 8px 4px 8px;
}

.register-button {
    margin-right: 2px;
    margin-left: 2px;
}

.header-button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: saddlebrown;
    width: max-content;
}

.login-button:hover,
.register-button:hover {
    background-color: rgb(77, 70, 67);
    color: white;
    opacity: 0.75;
    transition: opacity 0.3s;
}

.header-button:hover {
    opacity: 0.75;
    transition: opacity 0.3s;
}

.header-right {
    flex: 0.15;
    min-width: 200px;
    padding-right: 2%;
}

.img-logo {
    width: 100%;
    height: 100%;
}

@media(max-width: 650px) {
    .header-right {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }
}