html {
    scroll-padding-top: 70px;
}

body {
    background-color: rgb(77, 70, 67);
    margin: 50px 0px 0px 0px;
}

button {
    font-family: 'Times New Roman';
    font-size: large;
    cursor: pointer;
}

p {
    font-family: 'Times New Roman';
    font-size: large;
    text-align: right;
    color: white;
}