.main-div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: fit-content;
    margin-bottom: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.SignOut-box{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border-radius: 5px;
}

.img-logo-SignOut{
    width: 80%;
    height: 30%;
}

.SignOut-p{
    margin-top: 50px;
    color:black;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.SignOut-button{
    margin-top: 50px;
    border: 1.5px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: max-content;
    background-color: white;
    padding: 4px 8px 4px 8px;
    font-size: 24px;
    font-weight: 700;
}

.SignOut-button:hover{
    background-color: rgb(77, 70, 67);
    color: white;
    opacity: 0.75;
    transition: opacity 0.3s;
}
