.main-div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: fit-content;
    margin-bottom: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.Opp-box{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:white;
    height: fit-content;
    width: 90%;
    max-width: 1100px;
    min-height: 500px;
    margin: auto;
    margin-left: 15%;
    border-radius: 5px;  
}

.search-label{
    margin: 30px auto 0px auto;
}

.search-for-Opp{
    Width:40%;
    height: 30px;
    margin: 0px auto 30px auto;
    border: 1.5px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: right;
    resize: both;
    }
.Opp-Card{
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 150px;
    width: 100%;
    margin-left: 14%;
    margin-right: 6%;
    margin-top: 10px;
    border: 0.1px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.button-Add-Opp{
    border: 1.5px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 40px;
    background-color: white;
    margin: 30px 30px 30px 30px;
    font-size: 24px;
    }
    
.button-Add-Opp:hover {
    background-color: rgb(77, 70, 67);
    color: white;
    opacity: 0.75;
    transition: opacity 0.3s;
     }

.p-Opp-Card{
    color:black;
    text-align: right;
    font-size: 24px;
    margin: 10px 50px auto auto;
    }
.R-Opp-Card{
    margin-left: auto;
    color:black;
    text-align: center;
    font-size: 24px;
    
}

.p-isAdded{
    color:black;
    text-align: center;
    font-size: 24px;
    padding-right: 40%;
    padding-bottom: 50px;
}

.Students-R-Card{
    display: flex;
    flex-direction: row;
    align-items:center;
    height:fit-content;
    width: 80%;
    background-color: white;
    margin-top:10px ;
    margin-left: 21%;
    margin-right: 6%;
    border: 0.1px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.p-Students-Card{
    color:black;
    text-align: right;
    height: fit-content;
    font-size: 24px;
    margin: 10px 30px auto auto;
}

.p-issoper{
    color:black;
    text-align: right;
    height: fit-content;
    font-size: 24px;
    margin: 10px auto auto auto;
}

@media(max-width: 1800px) {
    .Opp-box{
        margin: auto;
    }
}
